<ion-header [translucent]="true">
  <ion-toolbar class="ion-align-items-center">
    <ion-title slot="start">Movies</ion-title>
    <ion-searchbar slot="end" [formControl]="searchBarFormControl"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content>
    <ion-list *ngIf="(filteredPopularMovies$ | async)?.length; else noMatchesFound">
      <ion-item button="true" [routerLink]="['/details', movie.id]" *ngFor="let movie of filteredPopularMovies$ | async" >
        <ion-avatar>
          <img [src]="imageBaseUrl + '/w92' + movie.poster_path"/>
        </ion-avatar>
        <ion-title>
          {{movie.original_title}}
        </ion-title>
      </ion-item>
    </ion-list>
    <ng-template #noMatchesFound>
      <ion-item>
        <ion-text>No matches found</ion-text>
      </ion-item>
    </ng-template>
  </ion-content>
</ion-content>
